<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="javascript" aria-disabled="true">
                        Avukata Sor
                    </a>
                </li>
                <li>
                    <a >
                        Hakkımızda
                    </a>
                </li>
                <li>
                    <a >
                        Blog
                    </a>
                </li>
                <li>
                    <a>
                        Lisanslar
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Designed and coded by
            <a href="https://www.creative-tim.com" target="_blank">Hakan Özdemir , Emre Uğuz , Çağrı Şentürk</a>
        </div>
    </div>
</footer>
